<main class="mx-3 mb-3">
    <h1>Have no idea about where to go? This is restriction page</h1>
    <main>
        <h1>Please type the city</h1>
        <form action="/restriction/city" method="POST" id="register-form">
            <div>
                <label for="user-username">city: </label>
                <input id="cityName" class="form-control mb-3" type="text" name="city"/>
            </div>
            <div>
                <button type="submit" name="registers" id="button">Submit</button>
            </div>
        </form>
        {{#if hasInfo}}
            <h2>Summary:</h2>
            {{{info.summary}}}
            <h2>Area Restrictions:</h2>
            {{#each info.areaRestrictions}}
                {{{this.text}}}
            {{/each}}
            <h1>Area Access Restriction:</h1>
            <h2>Entry:</h2>
            {{{info.areaAccessRestriction.entry.text}}}
            <h2>Disease Testing:</h2>
            {{{info.areaAccessRestriction.diseaseTesting.text}}}
            <h2>Quarantine Modality</h2>
            {{{info.areaAccessRestriction.quarantineModality.text}}}
            <h2>Other Restriction</h2>
            {{{info.areaAccessRestriction.otherRestriction.text}}}
            <h2>Disease Vaccination</h2>
            {{{info.areaAccessRestriction.diseaseVaccination.text}}}
            <h2>Area Policy</h2>
            {{{info.areaPolicy.text}}}
        {{/if}}
    </main>
</main>