<main class="mx-3 mb-3">
    <h1>Have no idea about where to go? This is restriction page</h1>
    <main>
        <h1>Please type the city</h1>
        <form action="/restriction/city" method="POST" id="register-form">
            <div>
                <label for="user-username">city: </label>
                <input id="cityName" class="form-control mb-3" type="text" name="city"/>
            </div>
            <div>
                <button type="submit" name="registers" id="button">Submit</button>
            </div>
        </form>
        {{#if hasInfo}}
            <p>Summary:</p>
            {{{info.summary}}}
            <p>Area Restrictions:</p>
            {{{info.areaRestrictions.text}}}
            <p>Area Access Restriction:</p>
            {{{info.areaAccessRestriction.text}}}
            <p>Entry:</p>
            {{{info.entry.text}}}
            <p>Disease Testing:</p>
            {{{info.diseaseTesting.text}}}
            <p>Quarantine Modality</p>
            {{{info.quarantineModality.text}}}
            <p>Other Restriction</p>
            {{{info.otherRestriction.text}}}
            <p>Disease Vaccination</p>
            {{{info.diseaseVaccination.text}}}
        {{/if}}
    </main>
</main>